<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<strong>Students</strong>
			</div>
			<div class="panel-body text-center">
				{{dash.students.length}}
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<strong>Projects</strong>
			</div>
			<div class="panel-body text-center">
				{{dash.projects.length}}
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<strong>Assignments</strong>
			</div>
			<div class="panel-body text-center">
				{{dash.assignments.length}}
			</div>
		</div>
	</div>

</div>