<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading large-panel-heading">
				<strong>Students</strong> 
				<button class="btn btn-default pull-right">Add Student</button>
			</div>
			<div class="panel-body text-center">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="col-md-4">Student Name</th>
							<th class="col-md-3">Assignment</th>
							<th class="col-md-2"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="student in studs.students"><!-- ng-repeat student in student -->
							<td class="text-left">{{student.firstName}} {{student.lastName}}</td>
							<td>{{student.assignments.length}}</td>
							<td><button class="btn btn-sm btn-primary">Edit</button><button class="btn btn-sm btn-danger">Delete</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>